<div class="row justify-content-center">
        <div class="col-8">
            <div class="input-group mb-2">
                
                <input  #input (keyup)="SearchResource(input.value)" type="text" class="form-control" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>


<!-- ====================BTN CREAR RECURSO====================== -->
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button [routerLink]="['/resource','0']" type=" button " class="btn waves-effect btn-primary ">
              <i class="fa fa-plus "></i>
              Crear Recurso
          </button>
         
                </div>
<!-- ====================FIN BTN CREAR RECURSO====================== -->


                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Puesto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resource of resources">
                            <td>{{resource.name}}</td>
                            <td>{{resource.job}}</td>

                            <button [routerLink]="['/resource', resource.resourceID]" class="btn btn-primary button-space">
                            <i class="fa fa-save "></i>
                        </button>
                            <button (click)="DeleteResource(resource) " class="btn btn-danger button-space">
                            <i class="fa fa-trash-o "></i>
                        </button>
                 
                        </tr>

                    </tbody>
                </table>
               

            </div>
              <!-- ===================PAGINACION====================== -->
           <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item ">
                        <a class="page-link pointer" (click)="changePageResource(-1)">Anterior</a>
                    </li>

                    <li *ngIf="this.page!=0" class="page-item"><a class="page-link">{{page-1}}</a></li>
                
                    <li class="page-item active">
                        <a class="page-link">{{page}} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link">{{page+1}}</a></li>
                    <li class="page-item">
                        <a class="page-link pointer" (click)="changePageResource(1)">Siguiente</a>
                    </li>

                    <div class="dropdown col-1">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{row}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button (click)="changeRowResource(5)" class="dropdown-item" type="button">5</button>
                          <button (click)="changeRowResource(10)" class="dropdown-item" type="button"> 10</button>
                          <button (click)="changeRowResource(15)" class="dropdown-item" type="button">15</button>
                          <button (click)="changeRowResource(20)" class="dropdown-item" type="button">20</button>
                        </div>
                      </div>
                </ul>
               
            </nav>
<!-- ===================FIN PAGINACION====================== -->
        </div>
    </div>
</div>